* {
  color: white;
}

.menu {
  position: relative;
  top: 20vh !important;
}

.menu-link {
  background-color: black;
  padding-right: 6px;
  padding-top: 2px;
  margin-bottom: 12px;
  text-align: right;
  text-decoration: none;
  transition: 0.3s;
}

.menu-link:hover {
  background-color: white;
  color: black;
  padding-bottom: 30px;
}

hr {
  background: white;
}
