hr {
  position: relative;
  border: none;
  height: 2px !important;
  background: white;
}

/* All the CSS for the home page */

.menu {
  position: absolute;
  top: 20vh !important;
  width: 100vw;
}

.menu-link {
  background-color: black;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  padding-right: 6px;
  padding-top: 2px;
  margin-bottom: 12px;
  text-align: right;
  text-decoration: none;
  transition: 0.3s;
}

.menu-link:hover {
  background-color: white;
  color: black;
  padding-bottom: 30px;
}

/* All the CSS for the pricing/getting started page */

.getting-started {
  margin: 12vh 20vw;
}

.prices-title {
  font-size: 2.5rem;
  margin: 0px 6vw;
  margin-bottom: 2vh;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  text-transform: capitalize;
}

.prices-title-caption {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  text-transform: capitalize;
  margin-bottom: 7vh;
}

.price-block-title-box {
  border-radius: 10px 10px 0px 0px;
}

.price-block-title {
  font-size: 1.5rem;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

.price-block-text {
  font-family: 'Roboto', sans-serif;
}

.price-block-point {
  padding: 12px 16px;
}

.price-block-point:hover {
  background-color: #1a202c;
  color: white;
}

.price-block-price {
  font-size: 1.5rem;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

/* All the CSS for the portfolio */

.portfolio h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 2.5rem;
  margin-bottom: 2.5vh;
}

.portfolio-image-caption h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 1.9vh;
}
.portfolio-image-caption {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-bottom: 1.9vh;
}

.portfolio-loading {
  top: 50%;
  left: 50%;
}
